.skill {
  background-color: #1070ca;
  text-align: center;
  margin-top: 0;
  margin-right: auto;
  margin-right: auto;
  color: #ffffff;
  padding: 16px;
  &__section {
    @media screen and (min-width: 960px) {
      display: flex;
      max-width: 1184px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 960px) {
      width: 320px;
      justify-content: flex-start;
    }
  }
  &__emoji {
    font-size: 64px;
    line-height: 72px;
    margin-top: 0;
    margin-bottom: 16px;
    @media screen and (min-width: 960px) {
      width: 320px;
    }
  }
  &__header {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
    margin-bottom: 64px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    @media screen and (min-width: 960px) {
      width: 782px;
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
      padding-top: 64px;
    }
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    margin-top: 0;
    margin-bottom: 24px;
  }
}

.skill-list {
  list-style: none;
  text-align: left;
  margin-bottom: 64px;
  margin-top: 0;
  padding-left: 0;
  color: #dbeaf7;
  @media screen and (min-width: 960px) {
    margin-left: auto;
    margin-right: auto;
  }
  &__item {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
}
