@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&display=swap');


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
}


.hello {
  display: block;
  text-align: center;
  padding: 16px;
  margin: 0px 0px 88px 0px;
  background-color: white;
  width: 100vw;
}

.hello__photo {
  margin-top: 98px;
  width: 96px;
  border-radius: 50%;
  align-items: center;
}

.hello__header {
  margin-top: 40px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #234361;
}
.hello__span {
  color: #1070CA;
}

.skill__section {
  background-color: #1070CA;
  text-align: center;
}

.project__section {
  text-align: center;
}

.footer {
  background-color: #DBEAF7;
  text-align: center;
}