@import "~normalize.css";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}


.hello__section {
  display: block;
  text-align: center;
  padding: 16px;
  margin: 0px 0px 88px 0px;
  background-color: white;
  width: 100vw;
}

.hello__photo {
  margin-top: 98px;
  width: 96px;
  border-radius: 50%;
  align-items: center;
}

.skills__section {
  background-color: #1070CA;
  text-align: center;
}

